openapi: 3.2.0
info:
  title: Reach Pay Cards API
  description: Reach Pay is Reachware's payment API for Saudi Arabia payment gateways.
  version: '1.0'
  x-generated-by: api-evangelist-enrichment
  x-source: https://docs.reachware.com/api-reference
  contact:
    name: Reach Pay Support
    email: support@reachware.com
    url: https://docs.reachware.com
servers:
- url: https://api.reachware.com
  description: Sandbox (production base URL provided after integration verification)
security:
- bearerAuth: []
tags:
- name: Cards
  description: Card save / tokenization flows
paths:
  /pay/RequestSaveCard:
    post:
      operationId: requestSaveCard
      tags:
      - Cards
      summary: Save Cards
      description: Start a card save (tokenization) flow and receive a hosted card registration URL to redirect the payer to.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - client_id
              - request_id
              - return_url
              properties:
                client_id:
                  type: string
                request_id:
                  type: string
                return_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Card save flow initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id:
                    type: string
                  card_gateway_url:
                    type: string
                    format: uri
        '400':
          description: Bad request (e.g. return_url missing)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFlag'
        '404':
          description: Config not found for client id
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorFlag'
components:
  schemas:
    ErrorFlag:
      type: object
      properties:
        error:
          type: boolean
        message:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'Merchant API token: Authorization: Bearer {reachToken}'
